@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fafafa;
    --foreground: #333;
  }
}

body {
  @apply bg-white text-black font-sans leading-relaxed;
}

* {
  @apply box-border;
}

.container {
  @apply max-w-7xl mx-auto px-5;
}

header {
  @apply bg-white shadow-md fixed w-full top-0 z-50;
}

nav {
  @apply flex justify-between items-center py-4;
}

footer {
  @apply bg-gray-800 text-white text-center py-12;
}
